{% extends 'kurs/layout.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
    <div class="features" >
        <h1>Добро пожаловать на Snews, {{user}}!</h1><br>
        <img class="img_main" src="/media/photos/main5.png" alt="картинка"><br><br>
         {% for i in trigger %}
        <div class="center_index">
        <p>Кол-во новостей: {{i.1}}</p>
        <p>Кол-во видео: {{i.2}}</p>
        <p>Последнее измениние статьи: {{i.3}}</p>
        <p>Последнее изменение видео: {{i.4}}</p>
        <p>Последняя изменённая статья: {{i.5}}</p>
        <p>Последнее изменённое видео: {{i.6}}</p>
        <hr>
        {% endfor %}
        <h2>О НАС</h2>
        <p>Мы - молодой развивающийся интернет-портал. Но молодость отнють не означает, что у наших сотрудников мало опыта.
            Все они прекрасные специалисты, которые смогут предоставить вам самые интересные новости, что только можно представить!</p><hr>
        <p><b>НАШИ СОТРУДНИКИ</b></p><hr>
        <p>Алексей Кандыбович - редактор. Человек, который будет своей головой отвечать за качество предоставленных новостей.</p>
        <p>inst: alex_007 | vk: kandibovich_alexei | tel: +375444745202</p><br>
        <p>Вероника Сачко - менеджер связи. Подскажет любую необходимую информацию и ответит на любой ваш вопрос.</p>
        <p>inst: veron_2324 | vk: kandibovich_alexei | tel: +375444745202</p><br>
        <p>Алексей Кандыбович - журналист. Человек, который будет своей головой отвечать за актуальноть и ценность информации.</p>
        <p>inst: alex_007 | vk: kandibovich_alexei | tel: +375444745202</p><br>
        </div>
    </div>
{% endblock %}