{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <img src="{% static 'main/img/logo4.png' %}" alt="картинка">
        <span class="logo"></span>
        <div class="navig">
            {% block navigation %}
        <ul>
           <li><a href="{% url 'home' %}"><i class="fas fa-home"></i>Главная</a></li>
            <li><a href="{% url 'articles' %}">Новости</a></li>
            <li><a href="{% url 'videos' %}">Видеопоток</a></li>
            {% if request.user.is_superuser %}
            <li><a href="redact">Редактор</a></li>
            {% endif %}
        </ul>
            {% endblock %}
        </div>
        <div class="registration">
            <ul>
             {% if request.user.is_authenticated %}
           <li><span>{{user.username}}</span></li>
                <li><span> | </span></li>
            <li><a href="{% url 'logout' %}">Выйти</a></li>
             {% else %}
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                <li><span> | </span></li>
            <li><a href="{% url 'login' %}">Вoйти</a></li>
             {% endif %}
            </ul>
        </div>
    </header>
    <main>
        {% block categories %}
        {% endblock %}
        {% block content %}
        {% endblock %}

    </main>
     <footer>

     </footer>
</body>
</html>