{% extends 'kurs/layout.html' %}
{% block title %}Форма по добавлению новости{% endblock %}
{% block categories %}
 {% if request.user.is_superuser %}
 {% endif %}
{% endblock %}
{% block content %}
    <div class="features">
        <h1>Форма редактирования категории</h1><hr>
        <form method="post" class="create_form" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>{{ error }}</h2>
            <br>{{form.category_name}}<br>
            <span>{{ test }}</span><br>
            <button type="submit">Редактировать</button>
        </form>
        <br>
    </div>
{% endblock %}