<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>{% extends 'kurs/layout.html' %}
{% block title %}{{ Видео }}{% endblock %}
{% block categories %}
        <div class="categories">
            <ul>
       <li><a href="{%url 'videos' %}">Главная</a></li>
           {% for c in categor %}
          <li><a href="{%url 'show_type' c.id %}">{{ c.type_name }}</a></li>
            {% endfor %}
            </ul>
        </div><br><hr>
{% endblock %}
{% block content %}
    <div class="features">
        <h1>Видеоматериал</h1>
        <div class="option">
        <ul>
            {% if request.user.is_superuser %}
            <li><a href="{% url 'video_create' %}" class="dobaw_now">добавить видео</a></li>
            <li><form class="poisk1" action="{% url 'video_poisk' %}" method="post">
                {% csrf_token %}
                {{ form.poisk }}
                <button type="submit" class="btn_poisk">Поиск</button>
            </form></li>
            {% else %}
            <li><a href="{% url 'sort_now_video' %}">cначала новые</a><span> |</span>
             <a href="{% url 'sort_star_video' %}">cначала старые</a>
            <li><form class="poisk3" action="{% url 'video_poisk' %}" method="post">
                {% csrf_token %}
                {{ form.poisk }}
                <button type="submit" class="btn_poisk">Поиск</button>
            </form></li>
            {% endif %}
        </ul><hr>

            {% if request.user.is_superuser %}
             <ul>
             <li><a href="{% url 'sort_now_video' %}">cначала новые</a><span> |</span>
             <a href="{% url 'sort_star_video' %}">cначала старые</a>
             <span> |</span><a href="{% url 'sort_skryt_video' %}"> скрытые</a><span> |</span>
             <a href="{% url 'sort_prower_video' %}">требующие проверки</a><span> |</span>
             <a href="{% url 'sort_dorab_video' %}">требующие доработки</a></li><hr>
                {% endif %}
            </ul>
        </div>

        {% if news %}
            {% for el in page_obj %}
            <button class="stat" onclick="window.location.href = '{% url 'detail_video' el.0 %}';">
             <div >
                <h3>{{ el.1|truncatechars:150}}</h3><hr>
                 <p class="autor">Добавил: <b>{{ el.2}}</b></p>
                 {% if el.6 %}
                 <img src="/media/{{el.6}}" alt="фото не грузится">
                 {% else %}
                 <img src="/media/ne_naiden.png" alt="нет фотки">
                 {% endif %}
                <p>{{ el.7|truncatechars:150}}</p>
             </div>
            </button>
            {% endfor %}
        {% else %}
            <p>У вас нет записей</p>
        {% endif %}
    </div>
<div class="page_nav">
    <ul>
        {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
        <li class="page">{{p}}</li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        <li>
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
</body>
</html>